@model IEnumerable<WebApplication2.Models.Tour>

@{
    ViewData["Title"] = "Main Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Homepage</h1>
<div>@Html.ActionLink("Excels", "Excel")</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>



<div class="d-flex flex-column justify-content-center w-100 h-100">

	
</div>

<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content=
        "width=device-width, 
        initial-scale=1.0" />
  
    <title>Digital Clock</title>
  
    <style>
        #clock {
           transform: translate(0px, -110px);
            display: block;
            font-size: 125px;
            width: 900px;
            margin: 120px;
            padding: 0px;
            text-align: center;
            border: 2px solid black;
            border-radius: 30px;
            
          
        }
        #hr {
        display: flex;
        }
    </style>
</head>
  
<body>
    <div id ="hr"> <hr></hr></div>
    <div id="clock">8:10:45</div>
  
    <script>
        setInterval(showTime, 1000);
        function showTime() {
            let time = new Date();
            let hour = time.getHours();
            let min = time.getMinutes();
            let sec = time.getSeconds();
            am_pm = "AM";
  
            if (hour > 12) {
                hour -= 12;
                am_pm = "PM";
            }
            if (hour == 0) {
                hr = 12;
                am_pm = "AM";
            }
  
            hour = hour < 10 ? "0" + hour : hour;
            min = min < 10 ? "0" + min : min;
            sec = sec < 10 ? "0" + sec : sec;
  
            let currentTime = hour + ":" 
                + min + ":" + sec + am_pm;
  
            document.getElementById("clock")
                .innerHTML = currentTime;
        }
  
        showTime();
    </script>

</body>
  
</html>


    <html>
    <head>
    </head>
    <body>
    <div id="Excel">
        <h3>Choice excel file -></h3>
        @using (Html.BeginForm("Import", "Tours", FormMethod.Post, new {enctype="multipart/form-data", id="frm-excel" }))
        {
            <div>
                Download Excel-file:
                <input type= "file" name="fileExcel"id="fileExcel"/>
                <div>
                    <input type="submit" value="DownLoad"/>
                </div>
            </div>
        }
    </div>
    <div id ="Export ">
        <style>
        .Export{
        padding-bottom: 2px;
        }
        </style>
        <h3>Download </h3>
        <a asp-action="Export">Donwload</a>
    </div>
    
    </body>
    </html>